<div class="ui four link stackable cards">
  <!--Card Vêtement-->
  <div class="card" *ngFor="let clothe of clothes; let i = index" (click)="onSelectClothe(i, clothe.id)">
    <div class="image" >
      <img alt="{{clothe.category.name}}" src="{{clothe.photos[0].url}}" data-position="bottom center">
    </div>
    <div class="content">
      <p class="header">{{clothe.category.name | titlecase}} {{clothe.subCategory.name}} {{clothe.brand | titlecase}}</p>
      <div class="meta">
        <span class="date">Taille : {{clothe.size.size}}</span>
      </div>
    </div>
    <!--Modal Description -->
    <div class="ui coupled modal select {{i}}">
      <i class="close icon"></i>
      <div class="header">
        {{clothe.category.name | titlecase}} {{clothe.subCategory.name}}
      </div>
      <div class="image content">
        <div class="ui medium image">
          <img alt="{{clothe.category.name}}" src="{{clothe.photos[0].url}}">
        </div>
        <div class="description">
          <div class="ui header">{{clothe.brand ? clothe.brand: '' | titlecase}}</div>
          <p>Taille : {{clothe.size.size}}</p>
          <p>Couleur{{clothe.secondColor? 's' : ''}} : {{clothe.firstColor.name | titlecase}}{{clothe.secondColor? ', '+clothe.secondColor.name:''}}</p>
          <p>Motif : {{clothe.pattern?.name}}</p>
          <p>{{clothe.description}}</p>
        </div>
      </div>
      <div class="actions">
        <div class="ui positive left labeled icon button" (click)="onUpdate(clothe.id)">
          Modifier
          <i class="edit icon"></i>
        </div>
        <div class="ui deny red left labeled icon button">
          Supprimer
          <i class="trash alternate icon"></i>
        </div>
      </div>
    </div>
    <div class="ui coupled mini modal validate">
      <div class="header">Header</div>
      <div class="content">
        <p>Etes-vous sur de vouloir supprimer l'élément definitivement ?</p>
      </div>
      <div class="actions">
        <div class="ui approve labeled icon button">Supprimer<i class="trash alternate icon"></i></div>
        <div class="ui deny cancel button">Annuler</div>
      </div>
    </div>
  </div>
</div>
