<div class="ui top fixed menu">
  <a class="item" routerLinkActive="active" routerLink="clothes" [routerLinkActiveOptions]="{exact:true}">
    <i class="home icon"></i>
    Mes Vêtements
  </a>
  <a class="item" routerLinkActive="active" routerLink="clothes/new">
    <i class="block layout icon"></i>
    Ajouter un Vêtement
  </a>
</div>
