
<div class="ui horizontal divider">
  <div *ngIf="clothe; else newClotheTmpl">
    <h3>Modifier un Vêtement</h3>
  </div>

  <ng-template #newClotheTmpl>
    <h3>Ajouter un nouveau Vêtement</h3>
  </ng-template>

</div>
<form class="ui form" [formGroup]="newClotheForm" (ngSubmit)="onSaveClothe()">
  <div class="column centered">
    <input type="hidden" name="'id" formControlName="id">
    <!--Categorie&SubCategory-->
    <div class="ui raised segment">
      <h4 class="ui dividing header">Choisis une Catégorie</h4>
      <div class="two fields">
        <!--Categorie-->
        <div class="required field">
          <label for="selectCategory">Catégorie</label>
          <select id="selectCategory" class="select-category ui fluid dropdown" name="categories" formControlName="category"
                  (ngModelChange)="!update && onSelectCategory()">
            <option value="">Catégorie</option>
            <option *ngFor="let c of categories" [ngValue]="c">{{c.name | titlecase}}</option>
          </select>
        </div>
        <!--SubCategory-->
        <div class="required field" [ngClass]="{'disabled':!category}"><!---->
          <label for="selectSubCategory">Sous-Catégorie</label>
          <select id="selectSubCategory" class="ui fluid dropdown" name="subCategories" formControlName="subCategory">
            <option value="">Choisissez une sous-catégorie</option>
            <option *ngFor="let sC of subCategories" [ngValue]="sC">{{sC.name | titlecase}}</option>
          </select>
        </div>
      </div>
    </div>

    <!--Taille & Marque-->
    <div class="ui two column grid">
      <div class="stretched row">
        <!--Taille-->
        <div class="column">
          <div class="ui raised segment">
            <h4 class="ui dividing header">Choisis la Taille</h4>
            <div class="required field" [ngClass]="{'disabled':!category}">
              <label for="selectSize">Taille</label>
              <select id="selectSize" class="select-size ui fluid dropdown" formControlName="size">
                <option value="">Choisissez une taille</option>
                <option *ngFor="let s of sizesFiltered" [ngValue]="s">{{s.size}}</option>
              </select>
            </div>
          </div>
        </div>
        <!--Marque-->
        <div class="column">
          <div class="ui raised segment">
            <h4 class="ui dividing header">Choisis la Marque</h4>
            <div class="field">
              <div class="ui search">
                <label>Marque</label>
                <input class="prompt" type="text" placeholder="Marque" formControlName="brand">
                <div class="results"></div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <!--Couleurs & Motifs-->
    <div class="ui raised segment">
      <h4 class="ui dividing header">Choisis les Couleurs</h4>
      <div class="two fields">

        <!--Couleur-->
        <div class="required field">
          <label for="selectColors">Couleurs</label>
          <select id="selectColors" multiple="" class="select-color ui fluid selection color dropdown" name="colors" formControlName="colors">
            <option *ngFor="let c of colors" [ngValue]="c"><div class="ui {{c.name}} empty circular label"></div>{{c.name}}
            </option>
          </select>
        </div>

        <!--Motifs-->
        <div class="field">
          <label for="selectPattern">Motif</label>
          <select id="selectPattern" class="ui fluid selection pattern dropdown" formControlName="pattern">
            <option value="">Motif</option>
            <option *ngFor="let p of patterns" [ngValue]="p">{{p.name}}</option>
          </select>
        </div>
      </div>
    </div>

    <!--Description-->
    <div class="ui raised segment">
      <h4 class="ui dividing header">Ajoute une description (optionnel)</h4>
      <div class="field">
        <label for="description">Description</label>
        <textarea id="description" rows="2" formControlName="description"></textarea>
      </div>
    </div>

    <div class="ui raised segment">
      <h4 class="ui dividing header">Ajoute une image</h4>
        <dropzone [config]="config" [message]="'Click or drag images here to upload'" (error)="onUploadError($event)" (success)="onUploadSuccess($event)"></dropzone>
        <!--<div class="dropzone" [dropzone]="config" (init)="onUploadInit($event)" (error)="onUploadError($event)" (success)="onUploadSuccess($event)"></div>-->
    </div>

    <!--Buttons-->
    <div class="ui horizontal divider">
      <div class="ui buttons">
        <button type="button" class="ui button" (click)="onCancel()">Annuler</button>
        <div class="or" data-text="ou"></div>
        <button type="submit" class="ui positive button" [ngClass]="{'loading': saving}" [disabled]="newClotheForm.invalid || saving">Enregistrer</button>
      </div>
    </div>
  </div>
</form>
